<li>
  <% if list.items.length != 0 %>
    <%= image_tag "circle_plus.png", :class => "circle-plus" %>
  <% end %>
  <h3><%= list.title %></h3>
  <ul class="list-items">
    <h6 class="completion-help">(click to toggle completion)</h6>
    <% list.items.each do |item| %>
      <li><%= item.text %></li>
    <% end %>
  </ul>
</li>
  