<div id="sidebar">
  <h2>LifeManager</h2>

  <h4 class="new-list-link">Create New List</h4>
  <form action="<%= lists_url %>" method="post">
    <label for="list_title">Title</label>
    <input type="text" name="list[title]" id="list_title">
    <br>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Create">
  </form>
</div>

<div id="content">
  <% if @user.lists.empty? %>
    <h3>You haven't created any lists yet! You can create one in the sidebar.</h3>
  <% else %>
    <% @user.lists.each do |list| %>
      <%= render partial: "list", locals: {list: list} %>
    <% end %>
  <% end %>
</div>