#content {
  position: absolute;
  left: 25%;
  float: right;
  height: 100%;
  width: 75%;
  background: url("mooning.png");
}

#sidebar {
  position: absolute;
  float: left;
  height: 100%;
  width: 24.6%;
  text-align: center;
  box-shadow: 5px 5px 5px #888888;
}

#content > h2 {
  margin-left: 20px;
}

.add-item {
  color: gray;
  text-decoration: underline;
}

.add-item:hover,
.add-item-link:hover,
.delete-list-link:hover {
  cursor: pointer;
}

.user-lists {
  margin-left: 50px;
  position: relative;
  list-style: none;
}

.user-lists > li {
  position: relative;
}

.user-lists h3 {
  position: relative;
  padding-left: 20px;
}

.circle-plus {
  float: left;
  margin-right: 5px;
  margin-top: 13px;
  width: 15px;
}

.list-items {
  display: none;
}

.completion-help {
  margin: 0;
  font-style: italic;
  color: #696969;
}

.completed {
  text-decoration: line-through;
  color: #696969;
  font-style: italic;
}

.add-item-link {
  text-decoration: underline;
  position: absolute;
  left: 22px;
  top: 22px;
}

.delete-list-link {
  text-decoration: underline;
  position: absolute;
  left: 80px;
  top: 22px;
}

form.new-item-form {
  display: none;
}