#sidebar {
  float: left;
  position: fixed;
  height: 100%;
  width: 25%;
}

#content {
  float: right;
  height: 100%;
  width: 75%;
}

.add-item {
  color: gray;
  text-decoration: underline;
}

.add-item:hover {
  cursor: pointer;
}